.DS_Store
A1.pdf

.venv/
__pycache__/
*.py[cod]

a1/data/
a1/runs/

a1/report/*.aux
a1/report/*.log
a1/report/*.out
a1/report/*.toc
a1/report/*.fls
a1/report/*.fdb_latexmk
a1/report/*.synctex.gz

a1-code.zip
